name: Testes API

on:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositório
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: npm install

      - name: Rodar JSON Server em background
        run: npm run start:mock &
      
      - name: Esperar JSON Server estar pronto
        run: npm run wait:api

      - name: Rodar testes
        run: npm run test:ci
